
header {
    background: #f4f5f6;
    position: sticky;
    top: 0;
    z-index: 9999
}

.top-header {
    border-bottom: 1px solid #d6d8db
}

.top-header-title {
    padding: 10px 0
}

    .top-header-title h1 {
        font-size: 14px;
        color: rgb(0 45 88 / 60%);
        margin-bottom: 0
    }

.top-header-list ul {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0
}

    .top-header-list ul li {
        position: relative
    }

        .top-header-list ul li a {
            color: #658dbc;
            font-size: 14px;
            padding: 12px 18px;
            border-left: 1px solid #d6d8db;
            display: block
        }

            .top-header-list ul li a i {
                color: #7b92a8
            }

        .top-header-list ul li:last-child a {
            border-right: 1px solid #d6d8db
        }

.middle-header {
    padding: 15px 0
}

.logo-area img {
    width: 100%;
    height:auto
}

.form-control {
    border: 1px solid #658dbc;
    height: 45px;
    font-size: 16px;
    color: rgb(0 45 88 / 50%);
    background: #fff
}

    .form-control::placeholder {
        color: #a3abb7
    }

.form-group {
    position: relative
}

.form-control:focus {
    box-shadow: 0;
    border-color: #658dbc
}

.search-input {
    border-radius: 5px 0 0 5px;
    border-right: 0;
    padding: 5px 15px;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-right: 0px !important;
}

.search-btn {
    background: 0;
    border: 0;
    background-color: #fff;
    border: 1px solid var(--bs-border-color);
    background-image: url(../images/search-icon.jpg);
    background-repeat: no-repeat;
    background-size: 23px 23px;
    background-position: center;
    font-size: 0;
    width: 45px;
    height: 45px;
    border-left: 0;
    border-radius: 0 5px 5px 0;
}

.call-area {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 15px
}

.call-icon {
    margin-right: 10px
}

    .call-icon i {
        font-size: 28px;
        border: 1px solid #002d58;
        border-radius: 5px;
        padding: 5px 8px;
        color: #002c58
    }

.call-text-top p {
    margin-bottom: 0;
    font-size: 14px;
    color: #686868;
    line-height: 1.2
}

    .call-text-top p em {
        color: #658dbc;
        font-size: 24px;
        font-weight: bold;
        font-style: normal
    }

.account-tools {
    text-align: center
}

    .account-tools i {
        font-size: 30px;
        color: #002d58;
        margin-bottom: 3px
    }

    .account-tools img {
        margin-bottom: 4px
    }

    .account-tools p {
        font-size: 12px;
        color: rgb(0 45 88 / 80%);
        text-align: center;
        margin-bottom: 0
    }

.my-account-text p {
    font-size: 12px;
    color: rgb(0 45 88 / 80%);
    margin-bottom: 2px;
    line-height: 1
}

.my-account-text h3 {
    color: #002d58;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0
}

    .my-account-text h3 i {
        color: #002d58;
        font-size: 16px;
        font-weight: bold
    }

.my-account-icon img {
    margin-right: 10px
}

.my-account-area {
    display: flex;
    align-items: center;
    border: 1px solid #658dbc;
    border-radius: 5px;
    padding: 10px 15px;
    margin-right: 10px
}

.cart-area {
    position: relative;
    padding: 5px;
    padding-right: 18px;
    cursor: pointer
}

    .cart-area i {
        color: #002c58;
        font-size: 22px;
        margin-right: 15px
    }

    .cart-area p {
        font-size: 18px;
        color: #002d58;
        position: absolute;
        top: 0;
        right: 0;
        margin-bottom: 0
    }

    .cart-area h4 {
        color: rgb(0 45 88 / 80%);
        font-size: 12px;
        margin-bottom: 0
    }

.account-area {
    display: flex;
    align-items: center;
    justify-content: flex-end
}

.right-divider {
    border-right: 1px solid #d6d8db;
}

.bottom-header {
    background: #002d58;
    box-shadow: #737476 0 3px 8px 0 !important;
    -moz-box-shadow: #737476 0 3px 8px 0 !important;
    -webkit-box-shadow: #737476 0 3px 8px 0 !important;
}

.menu-list > ul {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0
}

.flex-item {
    flex: auto
}

    .flex-item + .flex-item {
        border-left: 1px solid #294f73
    }

.menu-list > ul > li > a {
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    display: block;
    transition: all .4s ease-in-out;
    padding: 15px 0;
    text-align: center
}

.menu-list > ul > li:last-child > a {
    border-right: 0
}

.menu-list > ul > li:hover > a {
    background: #597aa8
}
