@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@import 'bootstrap/dist/css/bootstrap.min.css';
/* @import 'bootstrap/dist/js/bootstrap.bundle.min.js'; */
.nav-link-mega-menu {
    transition: all .3s ease-in-out;
    /* ... Բազային ոճեր ... */
}

.nav-link-mega-menu:hover {
    color: #658dbc; /* lightBlue-ի գույնը */
}

/* Ընթացիկ (active) վիճակի ոճերը կարող են մնալ React-ում կամ տեղափոխվել այստեղ */
.nav-link-mega-menu.active {
    border-bottom: 3px solid #658dbc;
    background-color: #f4f5f6;
}
.mega-dropdown {
    display: block !important;
}